DOMAIN=localtest.me
TRAEFIK_ENTRYPOINT=web
SA_BASE_URL=http://localhost.me
VITE_ZITADEL_URL=http://auth.localtest.me
VITE_ZITADEL_CLIENT_ID=339013429979316232@shadowapi
VITE_ZITADEL_REDIRECT_URI=http://localtest.me/login
