# Domain & Networking
BE_DOMAIN=localtest.me
BE_BASE_URL=http://localtest.me
BE_TRAEFIK_ENTRYPOINT=web

# Backend Application
BE_HOST=0.0.0.0
BE_PORT=8080
BE_LOG_LEVEL=DEBUG
BE_QUEUE_URL=nats://nats:4222
BE_QUEUE_PREFIX=shadowapi
BE_DB_URI=postgres://shadowapi:shadowapi@db/shadowapi

# Database
POSTGRES_PASSWORD=shadowapi
POSTGRES_USER=shadowapi
POSTGRES_DB=shadowapi
