# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# IDEs
.idea
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.db.sqlite

prompts


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

ui/package-lock.json
ui/yarn.lock



./config.yaml
.env
.env.gen

# Encrypted secrets (these SHOULD be committed)
!devops/uncloud/.env.enc

# Unencrypted production secrets (NEVER commit)
devops/uncloud/.env
devops/ory/hydra/hydra.yaml

/localtest.me.crt
/localtest.me.key
TODO.md

backend/config.yaml
backend/grpc2nats
backend/shadowapi
backend/worker

bin/
cmd/shadowapi/cmd/static/
devops/__pycache__/

front/.env
front/dist/
front/playwright-report/

node_modules/
/package-lock.json
templates/**/*.txt
test-results/
tmp/

ui/node_modules/
var/
yarn.lock
