---
openapi: 3.1.0
info:
  title: ShadowAPI
  version: 0.0.2
  description: ShadowAPI server

components:
  schemas:
    Scheduler:
      $ref: "components/scheduler.yaml"
    Datasource:
      $ref: "components/datasource.yaml"
    DatasourceEmail:
      $ref: "components/datasource_email.yaml"
    DatasourceEmailOauth:
      $ref: "components/datasource_email_oauth.yaml"
    DatasourceTelegram:
      $ref: "components/datasource_telegram.yaml"
    DatasourceWhatsapp:
      $ref: "components/datasource_whatsapp.yaml"
    DatasourceLinkedin:
      $ref: "components/datasource_linkedin.yaml"
    Error:
      $ref: "components/error.yaml"
    MailLabel:
      $ref: "components/email_label.yaml"
    Oauth2Client:
      $ref: "components/oauth2_client.yaml"
    Oauth2ClientToken:
      $ref: "components/oauth2_client_token.yaml"
    Oauth2ClientTokenObj:
      $ref: "components/oauth2_client_token_obj.yaml"
    Oauth2State:
      $ref: "components/oauth2_state.yaml"
    Oauth2Subject:
      $ref: "components/oauth2_subject.yaml"
    Pipeline:
      $ref: "components/pipeline.yaml"
    PipelineEdge:
      $ref: "components/pipeline_edge.yaml"
    PipelineNode:
      $ref: "components/pipeline_node.yaml"
    Storage:
      $ref: "components/storage.yaml"
    StoragePostgres:
      $ref: "components/storage_postgres.yaml"
    StorageS3:
      $ref: "components/storage_s3.yaml"
    StorageHostFiles:
      $ref: "components/storage_hostfiles.yaml"
    EmailLabel:
      $ref: "components/email_label.yaml"
    Contact:
      $ref: "components/contact.yaml"
    Message:
      $ref: "components/message.yaml"
    MessageMeta:
      $ref: "components/message_meta.yaml"
    MessageBodyParsed:
      $ref: "components/message_body_parsed.yaml"
    MessageQuery:
      $ref: "components/message_query.yaml"
    FileObject:
      $ref: "components/file.yaml#/FileObject"
    UploadFileRequest:
      $ref: "components/file.yaml#/UploadFileRequest"
    UploadFileResponse:
      $ref: "components/file.yaml#/UploadFileResponse"
    UploadPresignedUrlRequest:
      $ref: "components/file.yaml#/UploadPresignedUrlRequest"
    UploadPresignedUrlResponse:
      $ref: "components/file.yaml#/UploadPresignedUrlResponse"
    GenerateDownloadLinkRequest:
      $ref: "components/file.yaml#/GenerateDownloadLinkRequest"
    GenerateDownloadLinkResponse:
      $ref: "components/file.yaml#/GenerateDownloadLinkResponse"
    SyncPolicy:
      $ref: "components/sync_policy.yaml"
    User:
      $ref: "components/user.yaml"
    WorkerJobs:
      $ref: "components/worker_jobs.yaml"

  securitySchemes:
    # Session cookie-based auth (for Ory Kratos sessions)
    SessionCookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session

    # Bearer token-based auth
    BearerAuth:
      type: http
      scheme: bearer
      # optional field: bearerFormat: JWT

paths:
  /scheduler:
    $ref: "paths/scheduler.yaml"
  /scheduler/{uuid}:
    $ref: "paths/scheduler_uuid.yaml"
  /datasource:
    $ref: "paths/datasource.yaml"
  /datasource/email:
    $ref: "paths/datasource_email.yaml"
  /datasource/email/{uuid}:
    $ref: "paths/datasource_email_uuid.yaml"
  /datasource/email_oauth:
    $ref: "paths/datasource_email_oauth.yaml"
  /datasource/email_oauth/{uuid}:
    $ref: "paths/datasource_email_oauth_uuid.yaml"
  /datasource/{uuid}/oauth2/client:
    $ref: "paths/datasource_uuid_oauth2_client.yaml"
  /datasource/telegram:
    $ref: "paths/datasource_telegram.yaml"
  /datasource/telegram/{uuid}:
    $ref: "paths/datasource_telegram_uuid.yaml"
  /datasource/whatsapp:
    $ref: "paths/datasource_whatsapp.yaml"
  /datasource/whatsapp/{uuid}:
    $ref: "paths/datasource_whatsapp_uuid.yaml"
  /datasource/linkedin:
    $ref: "paths/datasource_linkedin.yaml"
  /datasource/linkedin/{uuid}:
    $ref: "paths/datasource_linkedin_uuid.yaml"
  /oauth2/callback:
    $ref: "paths/oauth2_callback.yaml"
  /oauth2/client:
    $ref: "paths/oauth2_client.yaml"
  /oauth2/client/{uuid}:
    $ref: "paths/oauth2_client_uuid.yaml"
  /oauth2/client/{datasource_uuid}/token:
    $ref: "paths/oauth2_client_datasource_uuid_token.yaml"
  /oauth2/client/{datasource_uuid}/token/{uuid}:
    $ref: "paths/oauth2_client_datasource_uuid_token_uuid.yaml"
  /oauth2/login:
    $ref: "paths/oauth2_login.yaml"
  /pipeline:
    $ref: "paths/pipeline.yaml"
  /pipeline/{uuid}:
    $ref: "paths/pipeline_uuid.yaml"
  /file:
    $ref: "paths/file.yaml"
  /file/{uuid}:
    $ref: "paths/file_uuid.yaml"
  /storage:
    $ref: "paths/storage.yaml"
  /storage/postgres:
    $ref: "paths/storage_postgres.yaml"
  /storage/postgres/{uuid}:
    $ref: "paths/storage_postgres_uuid.yaml"
  /storage/s3:
    $ref: "paths/storage_s3.yaml"
  /storage/s3/{uuid}:
    $ref: "paths/storage_s3_uuid.yaml"
  /storage/hostfiles:
    $ref: "paths/storage_hostfiles.yaml"
  /storage/hostfiles/{uuid}:
    $ref: "paths/storage_hostfiles_uuid.yaml"
  /telegram:
    $ref: "paths/telegram.yaml#/telegram"
  /telegram/{id}:
    $ref: "paths/telegram.yaml#/telegramId"
  /message/query:
    $ref: "paths/message_query.yaml"
  /message/email/query:
    $ref: "paths/message_email_query.yaml"
  /message/whatsapp/query:
    $ref: "paths/message_whatsapp_query.yaml"
  /message/telegram/query:
    $ref: "paths/message_telegram_query.yaml"
  /message/linkedin/query:
    $ref: "paths/message_linkedin_query.yaml"
  /storage/upload:
    $ref: "paths/storage_upload.yaml"
  /storage/upload-url:
    $ref: "paths/storage_upload_url.yaml"
  /storage/file-link:
    $ref: "paths/storage_file_link.yaml"
  /syncpolicy:
    $ref: "paths/sync_policy.yaml"
  /syncpolicy/{uuid}:
    $ref: "paths/sync_policy_by_uuid.yaml"
  /contact:
    $ref: "paths/contact.yaml"
  /contact/{uuid}:
    $ref: "paths/contact_uuid.yaml"
  /user:
    $ref: "paths/user.yaml"
  /user/{uuid}:
    $ref: "paths/user_uuid.yaml"
  /workerjobs:
    $ref: "paths/worker_jobs.yaml"
  /workerjobs/{uuid}:
    $ref: "paths/worker_jobs_uuid.yaml"

servers:
  - description: Local development server
    url: "http://localtest.me/api/v1"

security:
  # Logical OR of SessionCookieAuth and BearerAuth
  - SessionCookieAuth: []
  - BearerAuth: []
